{% extends "base.twig" %}
{% block title %}Aggiungi libro{% endblock title %}
{% block content %}
{% if error %}
    <p>Errore nell'inserimento del libro</p>
{% elseif inserted %}
    <p>Libro inserito</p>
{% else %}
    {{ form(form) }}
{% endif %}
{% endblock content %}
