{% extends "base.twig" %}
{% block title %}Aggiungi libro{% endblock title %}
{% block body %}
{% if error %}
    <p>Errore nell'inserimento del libro</p>
{% elseif inserted %}
    <p>Libro inserito</p>
{% else %}
    {% include "books/tabadd.twig" %}
{% endif %}
{% endblock body %}