{% extends "base.html.twig" %}
{% block title %}{{ 'book.add.title'|trans }}{% endblock title %}
{% block content %}
{% if error %}
    <p>{{ 'book.add.error'|trans }}</p>
{% elseif inserted %}
    <p>{{ 'book.add.success'|trans }}</p>
{% else %}
    {{ form(form) }}
{% endif %}
{% endblock content %}
