{% extends "base.twig" %}
{% block title %}Cancella libro{% endblock title %}
{% block content %}
{% if deleted %}
    <p>Libro Cancellato!</p>
{% else %}
    <h1 align="center">ATTENZIONE!!</h1>
    <h1 align="center">Il seguente libro sta per essere cancellato</h1>
    <h2 align="center">L'operazione &egrave; IRREVERSIBILE</h2>
    {% if book %}
        {% include 'books/tabdel.twig' %}
    {% else %}
        <div align="center">
            <form action="/books/delete" method="post" name="form1">
                ISBN
                <input type="text" name="ISBN">
                <input type="submit" name="Invia" value="Ok">
            </form>
            <script language="JavaScript" type="text/javascript">
                document.form1.ISBN.focus();
            </script>
        </div>
    {% endif %}
{% endif %}
{% endblock content %}