{% extends "base.html.twig" %}
{% block title %}{{ 'book.edit.title'|trans }}{% endblock title %}
{% block content %}
<script language="JavaScript" type="text/javascript">
    document.form1.ISBN.focus()
</script>
<h1 align="center">{{ 'book.edit.title'|trans }}</h1>
{% if updated %}
    <p>{{ 'book.edit.success'|trans }}</p>
{% elseif book %}
    {% include "books/tabmod.html.twig" %}
{% else %}
    {% include "books/tabsearch4mod.html.twig" %}
{% endif %}
{% endblock content %}