{% extends "base.twig" %}
{% block title %}Modifica libro{% endblock title %}
{% block body %}
<script language="JavaScript" type="text/javascript">
    document.form1.ISBN.focus()
</script>
<h1 align="center">Modifica Libro</h1>
{% if updated %}
    <p>Libro modificato</p>
{% elseif book %}
    {% include "books/tabmod.twig" %}
{% else %}
    {% include "books/tabsearch4mod.twig" %}
{% endif %}
{% endblock body %}