{% extends "base.html.twig" %}
{% block title %}{{ 'book.edit.title'|trans }}{% endblock title %}
{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const isbnInput = document.querySelector('input[name="ISBN"]');
        if (isbnInput) {
            isbnInput.focus();
        }
    });
</script>
<h1>{{ 'book.edit.title'|trans }}</h1>
{% if updated %}
    <p class="success-message">{{ 'book.edit.success'|trans }}</p>
{% elseif book %}
    {% include "books/tabmod.html.twig" %}
{% else %}
    {% include "books/tabsearch4mod.html.twig" %}
{% endif %}
{% endblock content %}