<div align="center">
    <form action="/modules.php" method="get" name="form1">
        ISBN <input type="text" name="ISBN">
        <input type="submit" name="Invia" value="Ok">
        <input type="hidden" name="Nome" value="Libri">
        <input type="hidden" name="Azione" value="Modifica">
    </form>
</div>
