{% extends 'base.twig' %}
{% block content %}
<h1 align="center">Elenco Acquisti</h1>
<table width="400" align="center">
    <thead>
        <tr>
            <td>Acquisto</td>
            <td>N° Libri</td>
        </tr>
    </thead>
    {% for purchase in purchases %}
        <tr>
            <td><a href="/purchases/{{ purchase.purchase_id }}">{{ purchase.purchase_id }}</a> </td>
            <td>{{ purchase.count }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}
