<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}phpYABS - menu{% endblock title %}</title>
    {% block stylesheets %}
        {{ vite_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ vite_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="body-layout" {% block body_attr %}{% endblock %}>
{% block body %}
    <div class="layout-container">
        <header class="header-layout">
            <nav id="menu" class="nav-layout">
                {% include 'menu.html.twig' %}
            </nav>
        </header>
        <main id="content" class="main-layout">
            {% block content %}
            {% endblock content %}
        </main>
    </div>
{% endblock body %}
</body>
</html>
