<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}phpYABS - menu{% endblock title %}</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/books.css" rel="stylesheet">
    <link href="/css/purchases.css" rel="stylesheet">
    <link href="/css/destinations.css" rel="stylesheet">
    <link href="/css/statistics.css" rel="stylesheet">
</head>
<body {% block body_attr %}{% endblock %}>
{% block body %}
    <header>
        <nav id="menu">
            {% include 'menu.html.twig' %}
        </nav>
    </header>
    <main id="content">
        {% block content %}
        {% endblock content %}
    </main>
{% endblock body %}
</body>
</html>
