<html>
<head>
    <title>phpYabs {{ version }} - {{ header }}</title>
</head>
<frameset cols="160,*">
    <frame src="/menu" name="menu">
    <frame src="/purchases/current" name="main">
</frameset>
<noframes></noframes>
</html>
