<html>
<head>
    <title>phpYabs {{ version }} - {{ header }}</title>
</head>
<frameset cols="160,*">
    <frame src="/menu" name="menu">
    <frame src="modules.php?Nome=Acquisti&Azione=Nuovo" name="main">
</frameset>
<noframes></noframes>
</html>
