{% extends 'base.twig' %}
{% block title %}phpYabs - menu{% endblock %}
{% block body %}
    <h1>Menu</h1>
    <p><a href="/purchases/current?Azione=Nuovo">Nuovo Acquisto</a></p>
    <form action="/purchases" method="get" name="acquisto">
        Recupera acquisto:
        <input name="purchase_id" type="text" id="purchase_id" maxlength="10" style="width:90px">
        <input type="submit" value="Ok">
    </form>
    <?php if ($edit) { ?>
    {% if edit %}
    <p><a href="/books/add">Aggiungi Libro</a></p>
    <p><a href="/books/edit">Modifica Libro</a></p>
    <p><a href="/books/delete">Cancella Libro</a></p>
    {% endif %}
    <p><a href="/purchases">Elenco Acquisti</a></p>
    <p><a href="/destinations">Destinazioni</a></p>
    <p><a href="/stats">Statistiche</a></p>
    <p><a href="/books" target="_blank">Elenco Libri</a></p>
{% endblock %}